@import url("fonts.css");
@import url("null.css");

body {
  font-family: "Source Sans Pro", sans-serif;
  /* font-size: 16px; за замовчуванням в браузері */
}
/* Component */
.button {
        border-radius: 4px;
        background-color: #d8AE5E;
        color: #F4F4F4;
        text-transform: uppercase;
        padding: 8px 16px;
        transition: background-color 0.3s;
}
@media(any-hover: hover) {
   .button:hover {
background-color: #9a7c43;
}     
}

[class*="__container"] {
        max-width: 1054px;
        margin: 0 auto;
        padding-block: 15px;
}
.page{
}
[class*="page__"] {
       padding-block: 64px;
}
@media (max-width: 767.98px){
     [class*="page__"] {
       padding-block: 32px;
}   
}

.wrraper {
        min-height: 100%;
}


.header-block {
        text-align: center;
}
.header-block::after {
        content: "";
        width: 120px;
        height: 1px;
        background-color: #d8AE5E;
        margin-top: 32px;
}
.header-block-title {
font-family: 'Bodoni 72';
   text-transform: uppercase;
   font-size: 64px;
}
.header-block-title:not(:last-child){
        margin-bottom: 8px;
}
.header-block__text {
        letter-spacing: 0.8px;
        text-transform: uppercase;
        line-height: 1.2;
}
.header-block__text p:not(:last-child) {
margin-bottom: 5px;
}
@media (max-width: 767.98px) {
        .header-block__title {
                font-size: 46px;
        }
        .header-block::after {
        margin-top: 16px;
}
.header-block__text {
       font-size: 14px;
}
}

.hero {
    position: relative; 
    color: #fff;  
}
.hero::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #000;
        z-index: 2;
        opacity: 0.6;
      
}
.hero__container {
         position: relative;
        min-height: 100svh;
        display: flex;
        flex-direction: column;
        z-index: 3;
        align-items: center;
        padding-block: 7.76699svh; /* 64/824 */
        /* 128/824 */
          row-gap: 15.533981svh;
}
.hero__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.883495svh;
        text-align: center;
}
.hero__logo {

}
.hero__logo:not(:last-child) {
    margin-bottom: 32px;    
}

.hero__menu {
}
.menu {
}
.menu__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 16px;
        row-gap: 15px;
}
.menu__item {
}
.menu__link {
}
@media(any-hover: hover) {
   .menu__link:hover {
text-decoration: underline;
}     
}

.hero__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2.427184svh;
        text-align: center;
}
.hero__title {
        text-transform: uppercase;
            font-family: 'Bodoni 72',serif;
            font-size: 96px;
}
.hero__label {
        letter-spacing: 3.6px;
        font-size: 24px;
        text-transform: uppercase;
}
.hero__button {
}
.hero__image {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
       
}
@media (max-width: 767.98px) {
.hero__title {
            font-size: 66px;
}
.menu__link {
        font-size: 20px;
}
}
/* About */
.about {
        padding-inline: 64px;
}
.about__container {
}
.about__header {
        margin-bottom: 32px;
}

.about__content {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
}
.about__text {
        letter-spacing: 1px;
        line-height: 1.5;
        font-size: 20px;
}

.about__text:not(:last-child) {
margin-bottom: 32px;
}
.about__text p:not(:last-child) {
margin-bottom: 10px;
}
.about__button {
}
@media (max-width: 767.98px){
   .about__text {
        font-size: 16px;
   } 
   .about__text:not(:last-child) {
margin-bottom: 16px;
}    
.about__header {
        margin-bottom: 16px;
}
}
/* Activities */

.activities {
        background-color: #f4f4f4;
}
.activities__container {
        display: flex;
        flex-direction: column;
        gap: 64px;
        align-items: center;
}
.activities__header {
}

.activities__items {
        max-width: 930px;
        align-self: stretch;
        display: flex;
       flex-wrap: wrap;
       justify-content: center;
        column-gap: 128px;
        row-gap: 96px;
      
}
.activities__row {

}

.activities__item {
        flex: 0 1 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}
.item_activities__image {
    flex-grow: 1;    
}
.item_activities__icon {
       
}
.item_activities__image:not(:last-child) {
        margin-bottom: 16px;
}
.item-item_activities__label {
        letter-spacing: 1px;
        font-size: 20px;
}

.activities__link {
       border-bottom: 1px solid #d8AE5E;
       padding-bottom: 8px;
       transition: all 0.3s;
}
@media (any-hover: hover){
    .activities__link:hover {
border-bottom: 1px solid #000;
    }    
}
@media (max-width: 991.98px) {
        .activities__items {
                row-gap: 50px;
                column-gap: 80px;
        }
        .activities__container {
                gap: 44px;
        }
}
@media (max-width: 767.98px) {
        .activities__items {
                row-gap: 30px;
                column-gap: 50px;
        }
}
@media (max-width: 430px) {
        .activities__item {
                flex-direction: row;
                align-items: center;
                column-gap: 20px;
                flex: 1 1 100%;
        }
        .activities__container {
                gap: 32px;
        }
        .activities__items {
           column-gap: 15px;
           row-gap: 30px;   
           align-items: flex-start;  
           justify-content: flex-start;
        }
        .item_activities__image {
                flex: 0 0 80px
        }
}