@import url("fonts.css");
@import url("null.css");

body {
  font-family: "Source Sans Pro", sans-serif;
  /* font-size: 16px; за замовчуванням в браузері */
}
/* Component */
.button {
        border-radius: 4px;
        background-color: #d8AE5E;
        color: #F4F4F4;
        text-transform: uppercase;
        padding: 8px 16px;
        transition: background-color 0.3s;
}
@media(any-hover: hover) {
   .button:hover {
background-color: #9a7c43;
}     
}

[class*="__container"] {
        max-width: 1054px;
        margin: 0 auto;
        padding-block: 15px;
}
.wrraper {
        min-height: 100%;
}

.hero {
    position: relative; 
    color: #fff;  
}
.hero::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #000;
        z-index: 2;
        opacity: 0.6;
      
}
.hero__container {
         position: relative;
        min-height: 100svh;
        display: flex;
        flex-direction: column;
        z-index: 3;
        align-items: center;
        padding-block: 64px;
        /* 128/824 */
          row-gap: 15.533981svh;
}
.hero__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.883495svh;
        text-align: center;
}
.hero__logo {

}
.hero__logo:not(:last-child) {
    margin-bottom: 32px;    
}

.hero__menu {
}
.menu {
}
.menu__list {
        display: flex;
        column-gap: 16px;
        row-gap: 5px;
}
.menu__item {
}
.menu__link {
}
@media(any-hover: hover) {
   .menu__link:hover {
text-decoration: underline;
}     
}

.hero__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2.427184svh;
        text-align: center;
}
.hero__title {
            font-family: 'Bodoni 72',serif;
            font-size: 96px;
}
.hero__label {
        letter-spacing: 3.6px;
        font-size: 24px;
        text-transform: uppercase;
}
.hero__button {
}
.hero__image {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
       
}